Gra w życie/Connected Services/API/GoL2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GameOfLifeService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameOfLifeService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfArrayOfCell">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfCell" nillable="true" type="tns:ArrayOfCell" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfCell" nillable="true" type="tns:ArrayOfArrayOfCell" />
  <xs:complexType name="ArrayOfCell">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cell" nillable="true" type="tns:Cell" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCell" nillable="true" type="tns:ArrayOfCell" />
  <xs:complexType name="Cell">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alive" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cell" nillable="true" type="tns:Cell" />
  <xs:complexType name="ArrayOfArrayOfArrayOfCell">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfArrayOfCell" nillable="true" type="tns:ArrayOfArrayOfCell" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfArrayOfCell" nillable="true" type="tns:ArrayOfArrayOfArrayOfCell" />
</xs:schema>