Gra w życie/Connected Services/API/GoLService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="GoLService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/GoL?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/GoL?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/GoL?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GameOfLifeService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGoLService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IGoLService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IGoLService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IGoLService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IGoLService_GetAllRounds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRounds" />
  </wsdl:message>
  <wsdl:message name="IGoLService_GetAllRounds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRoundsResponse" />
  </wsdl:message>
  <wsdl:portType name="IGoLService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IGoLService/Login" message="tns:IGoLService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGoLService/LoginResponse" message="tns:IGoLService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IGoLService/Logout" message="tns:IGoLService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGoLService/LogoutResponse" message="tns:IGoLService_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRounds">
      <wsdl:input wsaw:Action="http://tempuri.org/IGoLService/GetAllRounds" message="tns:IGoLService_GetAllRounds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGoLService/GetAllRoundsResponse" message="tns:IGoLService_GetAllRounds_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGoLService" type="tns:IGoLService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IGoLService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IGoLService/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRounds">
      <soap:operation soapAction="http://tempuri.org/IGoLService/GetAllRounds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GoLService">
    <wsdl:port name="BasicHttpBinding_IGoLService" binding="tns:BasicHttpBinding_IGoLService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/GoL" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>